.main {
    max-width: 1500px;
    background-color: #dddddd;
    height: 680px;
}
.main__ttl {
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 100px;
}

.main__table {
    display: flex;
    justify-content: center;

}
.main__table-title {
    border-bottom: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
}
.main__table-th {
    padding: 20px 100px 20px 100px;
}
.main__table-about {
    border-bottom: 1px solid #aaaaaa;
}
.main__table-td input {
    width: 250px;
    font-size: 15px;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    text-align: center;
    background-color: #dddddd;
}
.footer_title {
    text-align: center;
    margin-top: 10px;
}
.last__page p{
    margin: 0 auto;
    
}
