.header {
    max-width: 1500px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.header__title {
    padding: 20px 0 20px 100px;
}
.header__title a{
    color: #000;
    text-decoration: none;
    font-size: 35px;
}
.nav {
    display: flex;
    justify-content: end;
    padding: 30px 30px 20px 0;
}
.home__button {
    margin-right: 50px;
    border: none;
    background-color: #fff;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
.content__button {
    margin-right: 50px;
    border: none;
    background-color: #fff;
    font-size: 20px;
}
.login__button {
    margin-right: 30px;
    border: none;
    background-color: #fff;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}